h3{
  background-color: black;
  color: white;
  text-align: center;
  padding:15px;
}

.btn{
	background-color: #008CBA;
}

.btn2{
	background-color:#99ccff
}


body {
     min-height: 100%;
	 background-color : #c2d6d6;" 
}